# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
markdownlint.jsonc

# PyInstaller
#  Usually.
*.spec
#  Built files are in dist/
#  ...

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Virtual Environments
.venv/
venv/
ENV/
env/
.env/

# Mypy cache
.mypy_cache/
.dmypy.json
dmypy.json

# PyCharm
.idea/

# VSCode
.vscode/

# Data files
archive/
/data/
site/
*.parquet
*.cache
    
# Checkpoints and logs
checkpoints/
logs/
lightning_logs/

# Notebooks
.ipynb_checkpoints

# OS-specific
.DS_Store
Thumbs.db